* {
    padding: 0;
    margin: 0;
    font-family: Tahoma, Arial, sans-serif;
}

.container {
    width: 1180px;
    margin: 0 auto;
}

#section_text_2 {
    display: flex;
    height: 120px;
    background-color: #f3f3f3;
}

#section_text_2 .container {
    display: flex;
    justify-content: space-between;
}

#section_text_2 .alpha {
    margin-top: 32px;
}

#section_text_2 .omega a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    padding: 16px 22px;
    margin-top: 28px;
    background-color: #f77825;
    border-radius: 3px;
}

#section_header_1 .header_style {
    display: flex;
    height: 100px;
    background-color: #ffffff;
}

/* Inherit height */
#section_header_1 .container, #section_header_1 .firas2,
#section_header_1 .navbar, #section_header_1 .containerss {
    height: inherit;
}

#section_header_1 .navbar-header {
    display: none;
}

#section_header_1 .containerss {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

#section_header_1 ul {
    list-style-type: none;
}

#section_header_1 li {
    display: inline-block;
}

#section_header_1 a {
    text-decoration: none;
    color: #7f7f7f;
    font-weight: 700;
    margin-right: 52px;
}

#section_slider {
    background-color: #f3f3f3;
}

#section_gym_4 .top_padding {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 24px;
}
#section_gym_4 .img_gym_st img {
    border-radius: 50%;
}

#section_gym_4 .text_gym_style {
    margin-top: 28px;
}

#section_gym_4 .gym_st {
    font-size: 20px;
    font-weight: 700;
}

#section_gym_4 .gym_text {
    margin-top: 30px;
    line-height: 1.5;
}

#section_gym_4 .link_3_btn {
    display: inline-block;
    margin-top: 28px;
    padding: 18px 21px 12px;
    background-color: #ff8833;
    border-radius: 3px;
}

#section_gym_4 .link_3_btn a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
}

#section_intro_title {
    background-color: #f3f3f3;
    padding-top: 12px;
    padding-bottom: 86px;
}

#section_intro_title .container {
    display: flex;
    justify-content: space-between;
}

#section_intro_title .one-third {
    text-align: center;
    width: 370px;
    border: 3px solid #999999;
    border-radius: 3px;
}

#section_intro_title ul {
    list-style-type: none;
}

#section_intro_title .big_title {
    font-size: 48px;
    font-weight: 700;
    margin-top: 48px;
}

#section_intro_title .big_title.blue_text {
    color: #2dc0e8;
}

#section_intro_title .big_title.orange {
    color: #f77825;
}

#section_intro_title .light_gray {
    color: #999999;
}

#section_intro_title .light_gray.editContent {
    margin-bottom: 62px;
}

#section_intro_title .pix_text {
    margin-bottom: 42px;
}

#section_intro_title .active_bg_open {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 42px;
    color: #ffffff;
    padding: 24px 28px;
    background-color: #2dc0e8;
    border-radius: 3px;
}

#section_party_3 {
    background-color: #191919;
}

#section_party_3 .sixteen {
    position: relative;
    padding-top: 86px;
    padding-bottom: 74px;
}

/* Position relative to .sixteen, and .sixteen have height = .text_input
    -> Not need top (top = 0)   */
#section_party_3 .text_input {
    text-align: center;
    width: 560px;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 24px;
    background-color: #151515;
}

#section_party_3 .headtext_style {
    position: relative;
    color: #ffffff;
    padding-bottom: 30px;
    padding-top: 64px;
    font-size: 24px;
}

#section_party_3 .headtext_style::after {
    content: "";
    width: 100px;
    height: 8px;
    position: absolute;
    top: 114px;
    right: 50%;
    transform: translateX(50%);
    background: #1c8ff5;
}

#section_party_3 .editContent .subtext_style {
    color: #787677;
    font-size: 20px;
    margin: 34px 50px 44px 50px;
}

#result {
    display: flex;
    flex-direction: column;
}

#result #name, #result #email, #result #submit_btn_15 {
    margin: 12px 27px;
    height: 56px;
    border-radius: 3px;
}

#result input {
    padding-left: 22px;
}

#result #submit_btn_15 {
    background: #2d86ee;
    color: #ffffff;
    font-size: 16px;
}

#hidden_pix_15 {
    display: none;
}
#section_party_4 {
    background-color: #151515;
}
#section_party_4 .sixteen {
    padding: 36px 0 18px 0;
}

/* Clear float */
#section_party_4 .sixteen::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#section_party_4 .seven {
    float: left;
}

#section_party_4 .seven .rights_st,
#section_party_4 .likes_st {
    color: #a9a5a1;
}

#section_party_4 .seven .pixfort_st {
    color: #1c8fee;
    font-weight: 700;
}

#section_party_4 .nine, #section_party_4 .likes_st {
    float: right;
}

#section_party_4 .bottom-icons {
    list-style-type: none;
}
